.btnPrimary {
  background-color: var(--primaryBlue);
  padding: 2px 10px;
  color: white;
  font-family: Poppins, Roboto, "Helvetica Neue", sans-serif;
  border-radius: 5px;
  font-size: 16px;
}

button {
  cursor: pointer;
  border: none;
  background-color: inherit;
}

.btnGreen {
  background-color: green;
}
